.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 1.5vh;
  background-color: #12121224;
  backdrop-filter: blur(10px);
  z-index: -1;
  opacity: 0;
  transition: all .3s ease;

  &.active {
    opacity: 1;
    z-index: 1;
  }

  .nav {
    position: absolute;
    top: 40%;
    left: 10%;
    display: flex;
    flex-direction: column;
    row-gap: 2.5vh;
    list-style: none;
    text-align: left;
    text-align: center;

    li {
      display: flex;
      align-items: center;
      column-gap: 3vw;

      img {
        width: 3vh;
      }

    }
  }
}

.link {
  font-size: 2.5vh;
  font-weight: 500;

  &.active {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
  }
}