.modal {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: -80vw;
  width: 80vw;
  height: 100vh;
  background-color: #121212;
  transition: all .3s ease;

  &.active {
    left: 0;
  }

  .nav {
    width: 80vw;
    margin-left: 6vw;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    list-style: none;
    text-align: left;
  }
}

.link {
  display: flex;
  align-items: center;
  width: 88%;
  height: 5vh;
  font-size: 2vh;
  font-weight: 500;
  padding-left: 5vw;

  &.active {
    background-color: #434242;
  }
}