.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 2.5vh;
  text-transform: uppercase;
  background-color: #121212;
  opacity: 0;
  transition: .3s all;
  z-index: 1;

  &.active {
    display: flex;
    opacity: 1;
  }

  .nav {
    display: flex;
    flex-direction: column;
    row-gap: 2.5vh;
    list-style: none;
    text-align: center;

    .selected {
      font-weight: 700;
    }
  }
}