@import '../../index.scss';

$input-height: 6vh;

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $dark-accent;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
  z-index: 100;

  &.active {
    opacity: 1;
    pointer-events: fill;
  }

  .close {
    position: absolute;
    top: 20%;
    right: 12%;
    border: none;
    background-color: transparent;
    padding: 2%;
    font-weight: 500;
    text-decoration: none;
    color: $accent;

    &::before {
      display: inline-block;
      content: url('../../assets/icons/close.svg');
      vertical-align: middle;
      margin-right: 1vh;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  .name,
  .phone {
    margin-bottom: 3vh;

    .error {
      color: red;
      margin-top: 1vh;
    }
  }
}

.content {
  position: absolute;
  top: 30%;
  width: 40vh;
  height: 40vh;
  padding: 2vw;

  h4 {
    font-size: $h1-font-size;
    font-weight: bold;
    margin-bottom: 2vh;
  }

  form {
    font-size: 1.5vh;

    input {
      font-family: Montserrat;
      font-weight: 500;
      width: 100%;
      height: $input-height;
      padding: 2vh;
      border: 1px solid $accent;
      background-color: transparent;
      color: $accent;
      border-radius: 0;

      &.invalid {
        border-color: red;
      }

      &:focus {
        outline: none;
      }
    }

    .phoneWrapper {
      padding: 2vh;
      border: 1px solid $accent;
      height: $input-height;
      border-radius: 0;
      display: flex;
      align-items: center;
      column-gap: 0.5vh;

      .country {
        height: $input-height;
        display: flex;
        align-items: center;
        column-gap: 1vh;

        .flag {
          height: 12px;
        }
      }


      input[type='tel'] {
        padding: 0;
        font-size: 1.5vh;
        border: 0;
      }

      &.invalid {
        border-color: red;
      }
    }

    .submit {
      text-decoration: none;
      color: $accent;
      height: $input-height;
      width: 100%;
      background-color: transparent;
      border: 1px $accent solid;
      border-radius: 0;
      padding: 1vh 2.5vh;
      margin-bottom: 1vh;

      &:hover {
        color: $dark-accent;
        background-color: $accent;
      }
    }
  }

  a {
    font-size: 1.5vh;
    font-weight: 500;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $dark-accent;
  z-index: 100;

  &>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32vh;
    height: 10vh;
    background-color: $dark-accent;
    border: 1px white solid;

    span {
      font-size: 1.5vh;
      padding: 10%;
      text-align: center;
    }
  }
}

.hidden {
  display: none;
  z-index: -1;
}