@import '../../index.scss';

.picture {
  position: relative;

  @media (min-width: 992px) {
    width: 40vw;
    height: 20vw;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 90vw;
    height: 43vw;
  }

  @media (max-width: 767px) {
    width: 94vw;
    height: 45vw;
  }

  @media (max-width: 480px) {
    width: 94vw;
    height: 45vw;
  }

  margin: 0 auto;
}

.content {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;

  @media (min-width: 992px) {
    font-size: 1vw;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 2vw;
  }

  @media (max-width: 767px) {
    font-size: 2.3vw;
  }

  @media (max-width: 480px) {
    font-size: 3vw;
  }

  .button {

    @media (min-width: 992px) {
      font-size: 0.7vw;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 1.2vw;
    }

    @media (max-width: 767px) {
      font-size: 1.7vw;
    }

    @media (max-width: 480px) {
      font-size: 2vw;
    }

    position: absolute;
    bottom: 0;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: $accent;
    background-color: transparent;
    border: 1px $accent solid;
    padding: 1.7vh 5vh;
    letter-spacing: 1px;

    @media (max-width: 767px) {
      padding: 1.2vh 3.1vh;
    }

    &:hover {
      color: $dark-accent;
      background-color: $accent;
      transition: all .3s;
    }
  }

  .description {
    .descriptionList {
      display: flex;
      flex-direction: column;
      row-gap: 0.7vw;
      list-style-position: inside;
    }
  }
}

.title {
  @media (min-width: 992px) {
    font-size: 1.2vw;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 2.5vw;
  }

  @media (max-width: 767px) {
    font-size: 2.7vw;
  }

  @media (max-width: 480px) {
    font-size: 3.5vw;
  }

  font-weight: bold;
}

.price {
  display: flex;
  position: absolute;
  bottom: 45%;
  list-style: none;
  column-gap: 2vw;

  @media (max-width: 991px) {
    column-gap: 6vw;
  }

  span {
    display: block;
    font-weight: 500;
    text-align: center;
  }

  .cost {
    &::after {
      content: '₽';
    }
  }

  .class {
    font-size: 0.7vw;
    opacity: 0.5;
    padding-bottom: 10px;

    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 1.7vw;
    }

    @media (max-width: 767px) {
      font-size: 2.1vw;
    }

    @media (max-width: 480px) {
      font-size: 2.3vw;
    }

  }
}

.time {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.6;

  &::before {
    content: "";
    display: inline-block;
    width: 1.3vw;
    height: 1.3vw;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 2px;
    background: url(../../assets/icons/clock.svg);
    background-size: 1.3vw 1.3vw;

    @media (min-width: 768px) and (max-width: 991px) {
      width: 2.5vw;
      height: 2.5vw;
      background-size: 2.5vw 2.5vw;
      margin-bottom: 2.5px;
    }

    @media (max-width: 767px) {
      width: 2.5vw;
      height: 2.5vw;
      background-size: 2.5vw 2.5vw;
    }

    @media (max-width: 468px) {
      width: 4vw;
      height: 4vw;
      background-size: 4vw 4vw;
    }

  }
}