header {
  position: absolute;
  width: 100%;
  z-index: 2;
  transition: all .3s ease;

  .menu,
  .close {
    border: none;
    background-color: transparent;
    padding: 9%;
    font-size: 1.6vh;
    font-weight: 500;
    text-decoration: none;
    color: white;

    &::before {
      display: inline-block;
      content: url('../../assets/icons/menu.svg');
      vertical-align: middle;
      margin-right: 1vh;
    }
  }

  .close::before {
    display: inline-block;
    content: url('../../assets/icons/close.svg');
    vertical-align: middle;
    margin-right: 1vh;
  }

  .desktopNav {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav {
      display: flex;
      column-gap: 120px;
      list-style: none;
      font-size: 1.4vh;
      text-transform: uppercase;

      .active {
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 8px;
      }
    }
  }

  .hidden {
    display: none;
  }
}