.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2vh;
  font-style: normal;
  margin-bottom: 5vw;

  img {
    width: 2.5vh;
  }
}

.tel,
.mail,
.geo {
  display: flex;
  column-gap: 2.5vh;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}